
.background-img{
    background-image: url(img/bg-intro-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh !important;
    
}


.central-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 13%;
    width: 100%;
}


.h1-div{
    width: 50%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.form-div{
    width: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}